<!DOCTYPE html>
<html>
<head>
  <title>Palmdor</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="layout-wrap">
    <%= render partial: 'shared/navbar' %>
    <%= yield %>
  </div>
</body>
</html>
